.userList{
  margin: 80px 40px;
  color: white;

  .userListHeader{
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
  }

  .userListName {
    grid-column-start: 2;
    justify-self: center;
  }

  .userListEmail {
    grid-column-start: 3;
    justify-self: center;
  }

  .userListEmailConf {
    grid-column-start: 5;
    justify-self: center;
  }

  .userListStatus {
    grid-column-start: 6;
    justify-self: center;
  }
}

