.custom-select{
  &__control{
    border:none !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    min-width: 50px !important;
  }

  &--menu-is-open{
    border-color: red !important;
  }

  &__indicators{
    display: none !important;
  }
}